#app {
    margin-left: 1%;
    margin-right: 1%;
}
.table {
    border-collapse: collapse;
    border: 1px solid #ddd;
	min-width: 100%;
}

@media screen and (max-width: 1200px){
    #app {
        margin-left: 3px;
        margin-right: 3px;
    }

    #nav {
        left: 3px;
        right: 3px;
    }

    .nav>li>a {
        font-size: small;
        padding-left: 8px;
        padding-right: 8px;
    }

    #save {
        right: 5px;
    }
}


  /******** josGrid  ****/

.jos-table {
	white-space: nowrap;
    border-collapse: collapse;
    border: 1px solid #ddd;
    min-width: 100%;
}

tr {
    border-bottom: 1px solid #bbb;
}

th {
	vertical-align: top;
}

th, td {
            text-align: left;
            vertical-align: top;
            padding: 2px;
            border-bottom: 1px solid #ddd;
        }
        th {
			background: #cde;
			color: black;
			font-weight: 125%;
        }

        th > a { color: white; }
        th > input { 
            color: black; 
            font-weight: normal;
            width: 100%;
        }
      
        tr:hover {background-color: #f5f5f5}
        tr:nth-child(even) {background-color: #f2f2f2
}      

/******** josGrid END ****/

