#app {
    margin-left: 1%;
    margin-right: 1%;
}
.table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    min-width: 100%;
}

@media screen and (max-width: 1200px){
    #app {
        margin-left: 3px;
        margin-right: 3px;
    }

    #nav {
        left: 3px;
        right: 3px;
    }

    .nav>li>a {
        font-size: small;
        padding-left: 8px;
        padding-right: 8px;
    }

    #save {
        right: 5px;
    }
}


  /******** josGrid  ****/

.jos-table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    min-width: 100%;
}

tr {
    border-bottom: 1px solid #bbb;
}

th {
	vertical-align: top;
}

th, td {
            text-align: left;
            vertical-align: top;
            padding: 2px;
            border-bottom: 1px solid #ddd;
        }
        th {
			background: #cde;
			color: black;
			font-weight: 125%;
        }

        th > a { color: white; }
        th > input { 
            color: black; 
            font-weight: normal;
            width: 100%;
        }
      
        tr:hover {background-color: #f5f5f5}
        tr:nth-child(even) {background-color: #f2f2f2
}      

/******** josGrid END ****/

/* Pika */
.pika-lendar  th {
	background-color: #eef;

}

#jos-grid
{
	/* max-height: 700px; */
	/* height: 250px; */
	overflow-y: auto;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0
  }


/******** PRINT **************************/
@media print{
#app {
	margin-left: 0%;
	margin-right: 0%;
}
#navbar {
	display: none;
}
.no-print {
	display: none;
}
.print-label {
	margin-left: 25px;
	display: inline-block;
	width: 120px;
	font-weight: bold;
}
.print-value {
	display: inline-block;
	font-weight: normal;
}

.print-col-1 {
	width: 20%;
	display: inline-block;
	text-align: center;
    vertical-align: top;
    padding-right: 20px;

	/* border: 1px dashed green; */
}
.print-col-2 {
	width: 37%;
	display: inline-block;
	text-align: center;
    vertical-align: top;
    padding-right: 20px;
	
	/* border: 1px dashed blue; */
}
.print-col-3 {
	width: 37%;
	display: inline-block;
	text-align: center;
    vertical-align: top;
	
	/* border: 1px dashed red; */
}
.print-col-23 {
	width: 75%;
	display: inline-block;
	text-align: center;
    vertical-align: top;
	
	/* border: 1px dashed red; */
}
}

