<!doctype html>

<html lang="fi">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Tarkkailuraportit</title>
    <meta name="description" content="Tarkkailuraportit">
    <meta name="author" content="Jori Ostrovskij">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/toastr.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery-3.1.1.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/toastr.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/lockr.js"></script>
    <script src="js/vue-components.js"></script>
    <script src="js/classes.js"></script>
    <script src="js/script.js"></script>
</head>

<body>

    
    <div onclick="$('#loader').hide();" style="display: none; padding: 40px; font-size: 20px; height:80%; position: fixed; top: 10%; left: 10%; width: 80%; 
                                               background: linear-gradient(to top, #fefcea 0%,#efdd69 100%); 
                                               border: 3px solid #a00;" id="loader">
        Ladataan tietoja...
    </div>
    
    <div id="app">
        <ul id="navbar" class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#etusivu" id="etusivuLink">Etusivu</a>  </li>
			<li v-if="user.login">
                <a data-toggle="tab" href="#uusi">
                    Uusi
                </a>
            </li>
			<li>
                <a v-if="jos" data-toggle="tab" href="#sivu2">
                    Debug
                </a>
            </li>
			<li style="float: right;">
                <a data-toggle="tab" href="#user">
                    {{user.name}}
                </a>
            </li>
		</ul>

        <div id="debugDiv">
            <button class="btn" @click="jos=!jos">Toggle debug</button>
            <button class="btn" @click="test_fill()">Täytä</button>
        </div>

		<div class="tab-content">
            <div id="user" class="tab-pane fade in">
                <vue-user :user="user" :jos="jos"></vue-user>
                
            </div>

            <div id="etusivu" class="tab-pane fade in active">
                <div v-if="!user.login">
                    <vue-login></vue-login>
                </div>
                <div v-else>
                    <h1>Tarkkailuraportti</h1>

                    <form v-if="jos">
                        <div class="row">
                            <div class="col-xs-4">
                                <label for="raportti">Raportti</label>
                                <select id="raportDropdown" class="form-control" v-model="selectedReport" @change="reportSelected()">
                                    <option disabled value="-1">Valitse raportti</option>
                                    <option v-for="raportti in raportit" :value="raportti.id">{{raportti.koti}}-{{raportti.vieras}} {{raportti.pvm}}</option>
                                </select>
                            </div>
                        </div>
                    </form>

                    <div style="max-height: 250px; overflow-y: auto;">
                        <vue-jos-grid :options="raportit_options" :data="raportit" :jos="jos"></vue-jos-grid>
                    </div>

                    <div v-if="jos"> Valittu: {{selectedReport}}</div>


                    <div v-if="parseInt(selectedReport,10) > 0">
                        
                        <vue-raportti :raportti="raportti"></vue-raportti>
    
                    </div>
                </div>                    
			</div>

			<div id="uusi" class="tab-pane fade">
                <h1>Uusi raportti</h1>

                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="display: none;">Open Modal</button>
                
                <!-- Modal -->
                <div id="myModal" class="modal fade modeless" role="dialog">
                    <div style="min-width: 800px;" class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" id="modal-title">Raportti</h4>
                        </div>
                        <div class="modal-body">
                            <vue-raportti :raportti="modal_raportti"></vue-raportti>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                        </div>

                    </div>
                </div>

                <button class="btn btn-default" v-if="jos" id="test_fill" @click="test_fill()">Täytä</button>
                <button class="btn btn-default" v-if="jos" id="newReport" @click="koklaa">Kokeile</button>

                <form id="formi" action="javascript:0" @submit="postData()">
                    <div>
                        <button type="submit" class="btn btn-default">Talleta raportti</button>
                    </div>

                    <h3>Ottelu</h3>
                    <div class="row">
                        <div class="col-xs-3">
                            <label for="pvm">Pvm</label>
                            <input id="pvm" class="form-control" type="date" placeholder="pvm" required v-model="uusi_raportti.pvm">
                        </div>
                        <div class="col-xs-3">
                            <label for="paikka">Paikka</label>
                            <input id="paikka" class="form-control" type="text" placeholder="Pelipaikka" required v-model="uusi_raportti.paikka">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <br>
                            <vue-radio-miehet :raportti="uusi_raportti" :jos="jos"></vue-radio-miehet>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <label for="koti">Kotijoukkue</label>
                            <select class="form-control" id="koti" v-model="uusi_raportti.koti">
                                <option disabled value="-1">Valitse kotijoukkue</option>
                                <option v-for="joukkue in joukkueet" :value="joukkue">{{joukkue}}</option>
                            </select>
                        </div>
                        <div class="col-xs-3">
                            <label for="koti">Vierasjoukkue</label>
                            <select class="form-control" id="vieras" v-model="uusi_raportti.vieras">
                                <option disabled value="-1">Valitse vierasjoukkue</option>
                                <option v-for="joukkue in joukkueet" :value="joukkue">{{joukkue}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1">
                            <label for="kesto_h">Kesto h</label>
                            <input id="kesto_h" class="form-control" type="number" min=0 max=9 required v-model="uusi_raportti.kesto_h">
                        </div>
                        <div class="col-xs-1">
                            <label for="kesto_min">min</label>
                            <input id="kesto_min" class="form-control" type="number" min=0 max=59 required v-model="uusi_raportti.kesto_min">
                        </div>
                    </div>

                    <h3>Tuomarit</h3>
                    <p>Jos tuomaria ei löydy valintalistalta, niin valitse "Muu Tuomari" ja merkitse tuomarin nimi kehityssuosituksiin. Ylläpitäjä asettaa tuomarin nimen tietokantaan samalla kun luo ko. tuomarille tunnuksen.</p>
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="pt">Päätuomari</label> <template v-if="jos">(valittu: {{uusi_raportti.pt_id}})</template>
                            <select class="form-control" id="pt" v-model="uusi_raportti.pt_id" @change="ptChanged()">
                                <option disabled value="-1">Valitse PT</option>
                                <option v-for="tuomari in tuomarit" :value="tuomari.id">{{tuomari.sukunimi}} {{tuomari.etunimi}}</option>
                            </select>
                        </div>
                    </div>
                        
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="vt">Verkkotuomari</label> <template v-if="jos">(valittu: {{uusi_raportti.vt_id}})</template>
                            <select class="form-control" id="vt" v-model="uusi_raportti.vt_id" @change="vtChanged()">
                                <option disabled value="-1">Valitse VT</option>
                                <option v-for="tuomari in tuomarit" :value="tuomari.id">{{tuomari.sukunimi}} {{tuomari.etunimi}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <label for="tark">Tarkkailija</label> <template v-if="jos">(valittu: {{uusi_raportti.tark_id}})</template>
                            <select class="form-control" id="tark" v-model="uusi_raportti.tark_id">
                                <option disabled value="-1">Valitse Tarkkailija</option>
                                <option v-for="tuomari in tarkkailijat" :value="tuomari.id">{{tuomari.sukunimi}} {{tuomari.etunimi}}</option>
                            </select>
                        </div>
                    </div>

                    <h3>Ottelun vaikeusaste</h3>
                    <div class="row">
                        <div class="col-xs-5">
                            <label class="radio-inline"><input type="radio" required type="radio" name="vaikeus" value="1">Helppo</label>
                            <label class="radio-inline"><input type="radio" required type="radio" name="vaikeus" value="2">Normaali</label>
                            <label class="radio-inline"><input type="radio" required type="radio" name="vaikeus" value="3">Vaikea</label>
                        </div>
                    </div>                    

                    
                    <h2>Päätuomari</h2>
                    <p>Pisteet: {{uusi_raportti.pt_score}}</p>

                    <vue-kokonaishuomautus :raportti="uusi_raportti" :jos="jos" pt_tai_vt="pt"> </vue-kokonaishuomautus>

                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Tuomaritekniikka ja suoritustaito</div>
                            <div class="panel-body">
                                <vue-rivi-edit v-for="rivi in uudenRivit(1,5)" :key="rivi.id" :raportti="uusi_raportti" :rivi="rivi" :jos="jos"></vue-rivi>
                            </div>
                        </div>
                        
                        <div class="panel panel-primary">
                            <div class="panel-heading">Sääntöjen sekä ohjeiden ja tulkintojen soveltaminen</div>
                            <div class="panel-body">
                                <vue-rivi-edit v-for="rivi in uudenRivit(6,10)" :key="rivi.id" :raportti="uusi_raportti" :rivi="rivi" :jos="jos"></vue-rivi-edit>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">Vuorovaikutus joukkueiden kanssa</div>
                            <div class="panel-body">
                                <vue-rivi-edit v-for="rivi in uudenRivit(11,13)" :key="rivi.id" :raportti="uusi_raportti" :rivi="rivi" :jos="jos"></vue-rivi-edit>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">Ottelun johtaminen ja persoonallisuus</div>
                            <div class="panel-body">
                                <vue-rivi-edit v-for="rivi in uudenRivit(14,17)" :key="rivi.id" :raportti="uusi_raportti" :rivi="rivi" :jos="jos"></vue-rivi>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">Yksittäiset kommentit</div>
                            <div class="panel-body">
                                <vue-koontihuomautus v-for="huomautus in uusi_raportti.palauta_pt_huomautukset()" :key="huomautus.id" :huomautus="huomautus" :jos="jos"></vue-koontihuomautus>
                            </div>
                        </div>
                     </div>

                    <h2>Verkkotuomari</h2>
                    <p>Pisteet: {{uusi_raportti.vt_score}}</p>

                    <vue-kokonaishuomautus :raportti="uusi_raportti" :jos="jos" pt_tai_vt="vt"> </vue-kokonaishuomautus>
                    
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Tuomaritekniikka ja suoritustaito</div>
                            <div class="panel-body">
                                <vue-rivi-edit v-for="rivi in uudenRivit(101,106)" :key="rivi.id" :raportti="uusi_raportti" :rivi="rivi" :jos="jos"></vue-rivi-edit>
                            </div>
                        </div>
                        
                        <div class="panel panel-primary">
                            <div class="panel-heading">x</div>
                            <div class="panel-body">
                                <vue-rivi-edit v-for="rivi in uudenRivit(107,111)" :key="rivi.id" :raportti="uusi_raportti" :rivi="rivi" :jos="jos"></vue-rivi>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">Vuorovaikutus joukkueiden kanssa</div>
                            <div class="panel-body">
                                <vue-rivi-edit v-for="rivi in uudenRivit(112,113)" :key="rivi.id" :raportti="uusi_raportti" :rivi="rivi" :jos="jos"></vue-rivi>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">Ottelun johtaminen ja persoonallisuus</div>
                            <div class="panel-body">
                                <vue-rivi-edit v-for="rivi in uudenRivit(114,117)" :key="rivi.id" :raportti="uusi_raportti" :rivi="rivi" :jos="jos"></vue-rivi-edit>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">Yksittäiset kommentit</div>
                            <div class="panel-body">
                                <vue-koontihuomautus v-for="huomautus in uusi_raportti.palauta_vt_huomautukset()" :key="huomautus.id" :huomautus="huomautus" :jos="jos"></vue-koontihuomautus>
                            </div>
                        </div>
                    </div>

                    <vue-kokonaisarvio :raportti="uusi_raportti" :jos="jos"></vue-kokonaisarvio>

                    <vue-otteluhuomautus :raportti="uusi_raportti" :jos="jos"></vue-otteluhuomautus>

                    <div style="margin-bottom: 30px;">
                        <button type="submit" class="btn btn-default">Talleta raportti</button>
                    </div>
                </form>

                <div v-if="jos">
                    {{postResponse}}
                </div>

			</div>
			<div id="sivu2" class="tab-pane fade"> 
                <h1>Debug</h1>

                <h3>Debug</h3>
                <textarea rows="10" cols="100">
                    {{debug}}
                </textarea>

                <h3>Tuomarit</h3>
                <p v-for="tuomari in tuomarit">Tuomari: {{tuomari.etunimi}} {{tuomari.sukunimi}}, id: {{tuomari.id}}</p>

                <h3>Aiheet</h3>
                <p v-for="aihe in aiheet">{{aihe.no}} {{aihe.nimi}}, id: {{aihe.id}}</p>

                <h3>Raportit</h3>
                <p v-for="raportti in raportit">Id: {{raportti.id}}  {{raportti.pvm}} {{raportti.koti}}-{{raportti.vieras}} @{{raportti.paikka}}, pt: {{raportti.pt_nimi}}, vt: {{raportti.vt_nimi}}, tark: {{raportti.tark_nimi}}</p>

                <h3>Rivit</h3>
                <p v-for="rivi in rivit">Id: {{rivi.id}}  raportti: {{rivi.raportti_id}}  aihe: {{rivi.aihe_nimi}}   arvosana: {{rivi.arvosana}}  huom: {{rivi.huom}}</p>

                <hr>

                <div>
                    PT-rivit: {{ptRivit.length}}
                </div>
                <div>
                    VT-rivit: {{vtRivit.length}}
                </div>
                    
            </div>
        </div>        

    </div>

    <!--div id="luonnos" onclick="$('#luonnos').hide()">Luonnos</div-->
</body>

</html>